# General Ignorable Generated things
c_part/aclocal.m4
c_part/autom4te.*
c_part/.deps/*
c_part/Makefile
c_part/Makefile.in
c_part/compile
c_part/config.log
c_part/config.status
c_part/configure
c_part/depcomp
c_part/install-sh
c_part/missing
c_part/Makefile
c_part/Makefile.in
c_part/clean
c_part/confdefs.h
c_part/conftest
erld

# Unneeded files
c_part/AUTHORS
c_part/COPYING
c_part/ChangeLog
c_part/INSTALL
c_part/NEWS
c_part/README

# Compiled Object files
c_part/*.slo
c_part/*.lo
c_part/*.o

# Compiled Dynamic libraries
c_part/*.so

# Compiled Static libraries
c_part/*.lai
c_part/*.la
c_part/*.a

# Erlang related ignorables
ebin/*
.eunit/*
.deps_plt

priv
deps/*