%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% Dependencies ================================================================
{deps,
 [{rebar_vsn_plugin, ".*", {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}}]}.

%% Compiler Options ============================================================
{erl_opts,
 [debug_info,
  warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Rebar Plugins ==============================================================
{plugins, [rebar_vsn_plugin]}.

%% Misc =======================================================================

%% Rebar 3.0 and Rebar 2.0 handle hooks differently. These two different hook
%% formats allow erld to build in both versions of rebar and they are mutually
%% compatible. Rebar 3.0 ignores the *_post_script form and Rebar 2.0 ignores
%% the post_hooks

%% Rebar 3.0+
{post_hooks,
 [{compile, "c_src/build.sh"},
  {clean, "c_src/clean.sh"}]}.

%% Rebar 2.0
{compile_post_script,
 "sh c_src/build.sh"}.

{clean_post_script,
 "sh c_src/clean.sh"}.

{port_specs, []}.
